.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px;
  border-radius: 20px;
}

.new-contact-title {
  margin-bottom: 10px;
}

.new-contact-info-title {
  margin-top: 22px;
  margin-bottom: 15px;
}

.new-contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.new-contact-message-title {
  margin-top: 10px;
  margin-bottom: 15px;
}

.new-contact-form input,
.new-contact-form textarea {
  margin-bottom: 35px;
  width: 100%;
  max-width: 300px;
}

input{
  border-style: solid;
  border-color: black;
}
.new-contact-submit-button {
  width: 100%;
  max-width: 300px;
  border-style: solid;
}
.new-contact-submit-button:hover {
  background-color: rgb(203, 4, 45);
  color: whitesmoke;
}

nav a:nth-child(7) {
  border: solid;
}