section {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

section img {
  width: 200px;
}

article {
  text-align: center;
  margin: 0 15px;
  padding: 10px;
  border-radius: 10px;
}

h2{
  border-radius: 10px;
}

p{
  margin-top: 10px;
  font-size: large;
  font-weight: bolder;
}

main{
  margin-bottom: 140px;
}

nav a:nth-child(6) {
  border: solid;
}