h2{
    margin-bottom: 10px;
}
p{
    padding: 0 0 15px;
}

video {
    width: 100%;
}
section:last-child{
    margin-bottom: 15px;
}

.screenshot-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.screenshot-container img {
    width: calc(50% - 10px); /* Adjust according to the space you want */
    margin: 5px; /* Add margin between images */
}

div img {
    max-width: 100%; /* Make sure the logo doesn't exceed its container's width */
}

nav a:nth-child(1) {
    border: solid;
}

@media screen and (max-width: 760px) {
    .screenshot-container img{
        width: 100%;
        max-width: none;
        height: auto;
    }
}