/* Global styles */
* {
    margin: 0px; /* Remove default margins */
    font-family: "Courier New"; /* Set base font family */
}
section {
    margin-bottom: 10%;
}

/* Introduction section styles */
.logo_image {
    width: 100%; /* Fill container width */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Scale to fill container, potentially cropping */
    object-position: center; /* Center image within container */
}

/* Menubar styles */
.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    /*position: fixed;*/
    width: 100%;
    background-color: white;
    padding-bottom: 30px;
    border-bottom: none; /* Remove border-bottom */
}

input {
    display: none;
}

.highlighted-link {
    /* Style for the highlighted menu item */
    border: solid;
}

a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    padding: 6px 6px;
    margin: 0px 10px;
    border-radius: 7px;
}

a:hover {
    background-color: rosybrown;
}

nav {
    padding: 16px 0px 0px;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
    font-size: 16px;
    border-radius: 7px;
}

/* Styles for hamburger menu (likely in a separate media query) */
.menu-icon {
    display: none; /* Hide by default */
}

/*
  Media queries for responsive adjustments (not included here)
*/

caption {
    font-weight: bold;
    text-align: left;
    font-size: x-large;
    text-transform: uppercase;
}

table{
    width: 100%
}
table, th, td {
    border-spacing: 0;
}

td, th {
    text-align: center;
    padding: 6px;
    width: auto;
}
tr {
    text-align: center;
    vertical-align: middle;
    width: 90px;
    height: 50px;
    border: 1px solid black;
}
td {

    border-bottom: 0.5px solid black; /* Add this line to create a horizontal line */
}


thead th {
    border-bottom: 1px solid black;
}

tfoot th, tfoot td {
    border-top: 1px solid black;
}

/*footer start*/
@keyframes flash {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
}
footer{
    position: relative;
    bottom: 0;
    text-align: center;
}

footer div{
    bottom: 0;
    text-align: center;
}

footer p{
    padding: 20px 10px;
    font-size: 12px;
    animation: flash 2s infinite;
    bottom: 0;
}
/*footer end*/
