/*for multiple pages*/
* {
  margin: 0;
  font-family: "Courier New";
  color: black;
  text-align: center;
  background-color: #ffffff;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

main {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  width: 97%;
  margin: 0 auto;
}
textarea{
  align-content: center;
  align-items: center;
  height: 20px;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  padding: 6px 6px;
  margin: 0 10px;
  border-radius: 7px;
}

body {
  overflow-x: hidden;
}

section {
  padding: 5px;
  margin: 15px;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 50px;
}

header h1 {
  display: flex;
  justify-content: center;
}

header marquee {
  width: 100%;
  animation: flash 2s infinite;
}

nav {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 15px;
}

nav a:hover {
  background-color: rosybrown;
}

input,
.menu-icon {
  /*display: none;*/
}


/*interactive nav*/
@media screen and (max-width: 760px) {
  nav {
    display: none;
  }

  .menu-icon {
    display: flex;
    cursor: pointer;
    width: 25px;
    padding: 0 0 30px 15px;
  }

  nav a:hover {
    background-color: white;
  }

  #menu-toggle {
    display: none; /* Hide checkbox */
  }

  /* Styles for the dropdown menu */
  #menu-toggle:checked + label + nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    /*position: fixed;*/
    width: 100%;
    background-color: white;
    padding-bottom: 10px;
    transition: all 0.3s ease;
  }
  #menu-toggle:checked + label + nav a {
    margin: 5px 0;
    display: inline-flex;
  }

  section:nth-child(1) {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

/*interactive nav*/

/*footer*/
@keyframes flash {
  0% {
    color: red;
  }
  50% {
    color: blue;
  }
  100% {
    color: red;
  }
}

h1:hover {
  color: rgb(203, 4, 45);
  transition: 1s;
}

footer div {
  bottom: 0;
  text-align: center;
}

footer p {
  padding: 20px 10px;
  font-size: 12px;
  animation: flash 2s infinite;
  bottom: 0;
}
