nav a:nth-child(2) {
  border: solid;
}
main p{
  text-align: left;
}

p {
  margin: 0 0 1em;
  padding: 0;
  line-height: 1.6;
  display: block;
}

p strong {
  display: block;
  margin: 1em 0 10px; /* Adds space above each strong element */
  font-size: 18px;
}
