/* Global styles */
* {
  margin: 0px; /* Remove default margins */
  font-family: "Courier New"; /* Set base font family */
}
section {
  margin-bottom: 50px;
}
p {
  line-height: 40px;
}

/* Introduction section styles */
.logo_image {
  width: 100%; /* Fill container width */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Scale to fill container, potentially cropping */
  object-position: center; /* Center image within container */
}

/* Menubar styles */
.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: fixed;
  width: 100%;
  background-color: white;
  padding-bottom: 30px;
  border-bottom: none; /* Remove border-bottom */
}

input {
  display: none;
}

.highlighted-link {
  /* Style for the highlighted menu item */
  border: solid;
}

a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  padding: 6px 6px;
  margin: 0px 10px;
  border-radius: 7px;
}

a:hover {
  background-color: rosybrown;
}

nav {
  padding: 16px 0px 0px;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: black;
  font-size: 16px;
  border-radius: 7px;
}

/* Styles for hamburger menu (likely in a separate media query) */
.menu-icon {
  display: none; /* Hide by default */
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente */
  text-align: center; /* Centra el texto */
  width: 80%;
}
footer {
  bottom: 0;
  text-align: center;
}
/* Estilos específicos para la página de estadísticas */

.content-container {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  height: 100vh; /* Altura igual al 100% del viewport */
  margin-left: 10vh;
}

.contact-container {
  text-align: center; /* Centrar el texto */
  max-width: 600px; /* Ancho máximo */
  background-color: #f8f9fa; /* Color de fondo */
  padding: 20px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

/* Estilos para el formulario */

/* Estilos para los campos de entrada y el área de texto */
form input[type="text"],
form textarea {
  width: 100%; /* Ancho completo */
  margin-bottom: 10px; /* Espacio inferior */
  padding: 8px; /* Espaciado interno */
  box-sizing: border-box; /* Incluir bordes en el tamaño */
  border: 1px solid #ced4da; /* Borde */
  border-radius: 5px; /* Bordes redondeados */
}

/* Estilos para el botón de enviar */
form input[type="submit"] {
  background-color: #007bff; /* Color de fondo */
  color: #fff; /* Color del texto */
  border: none; /* Sin borde */
  padding: 10px 20px; /* Espaciado interno */
  cursor: pointer; /* Cambio de cursor */
}

/* Estilos para el mensaje de éxito */
.success-message {
  color: #28a745; /* Color del texto de éxito */
}

/* Estilos para el mensaje de advertencia */
.error-message {
  color: #dc3545; /* Color del texto de error */
}
button {
  cursor: pointer;
  width: fit-content;
  height: fit-content;
}
button:hover {
  background-color: black;
  color: white;
}
