

.download-button {
    text-decoration: none;
}
.download-button:hover {
    color: red;
    text-decoration: underline;
}
.title-team-element {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8%;
}

.new-contact-title {
    margin-bottom: 10px;
}

.new-contact-info-title {
    margin-top: 22px;
    margin-bottom: 15px;
}

.new-contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.new-contact-message-title {
    margin-top: 10px;
    margin-bottom: 15px;
}

.new-contact-form input,
.new-contact-form textarea {
    margin-bottom: 35px;
    width: 100%;
    max-width: 300px;
}

.new-contact-submit-button {
    width: 100%;
    max-width: 300px;
}
.new-contact-submit-button:hover {
    background-color: rgb(203, 4, 45);
    color: whitesmoke;
}


